<!-- HEADER -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-5">
                <p> Welcome to Professional Health Care </p>
            </div>
            <div class="col-md-8 col-sm-7 text-align-right">
                <span class="phone-icon"><i class="fa fa-phone"></i> <a href="tel:+91 701-193-6139"> +91 701-193-6139 </a> </span>
                <span class="date-icon"><i class="fa fa-calendar-plus-o"></i> Available 24x7</span>
                <span class="email-icon"><i class="fa fa-envelope-o"></i> <a href="mailto:flightmode2020@gmail.com">flightmode2020@gmail.com</a></span>
            </div>

        </div>
    </div>
</header>

