<!-- FOOTER -->
<hr class="class="my-4"" />
<section id="contact">
    <footer data-stellar-background-ratio="5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="footer-thumb">
                        <h4 class="wow fadeInUp" data-wow-delay="0.4s">Contact Info</h4>
                        <p> <b> 24x7 Dedicated Team  </b></p>
                        <hr />
                        <div class="contact-info">
                            <p><i class="fa fa-phone"></i> <a href="tel:+91 701-193-6139">  +91 701-193-6139 </a> </p> 
                            <p><i class="fa fa-envelope-o"></i> <a href="mailto:flightmode2020@gmail.com">flightmode2020@gmail.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="footer-thumb">
                        <div class="opening-hours">
                            <h4 class="wow fadeInUp" data-wow-delay="0.4s">Location</h4>
                            <p> <b> We are currently operating in: </b> </p>
                            <hr />
                            <ul>
                                <li>Silapathar, Assam</li>
                                <li>Lawan, Bihar</li>
                                <li>Fateha, Bihar</li>
                            </ul>
                        </div>
                        <div class="col-md-offset-1">
                            <ul class="social-icon">
                                <li>
                                    <a href="https://www.facebook.com/Drflightmode" target="_blank" class="fa fa-facebook-square" attr="facebook icon"></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/DrFlightMode?s=20" target="_blank" class="fa fa-twitter"></a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="footer-thumb">
                        <h4 class="wow fadeInUp" data-wow-delay="0.4s"> <b> Career with us </b></h4>
                        <p> <b> We are actively recruiting </b> </p>
                        <hr />
                        <ul>
                            <li> <a href=@Url.Action("Register", "Home")> Join as Field Medical Officer </a> </li>
                            <li> <a href=@Url.Action("Register", "Home")> Be our Dedicated Partner in your Area </a> </li>
                            <li> <a href=@Url.Action("Register", "Home")> Associte With Us as Physician </a> </li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 border-top">
                    <div class="col-md-2 col-sm-2 col-md-offset-5 text-align-center">
                        <div class="angle-up-btn">
                            <a href="#top" class="smoothScroll wow fadeInUp" data-wow-delay="1.2s"><i class="fa fa-angle-up"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="copyright-text text-center">
                            <p> Copyright &copy; @DateTime.Now.Year <b> Dr. Flight Mode </b>, Designed and Developed By <a href='/Home/WebTeam'> Our Team</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>
