@{
    Layout = "~/Areas/TeleService/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h5 class="m-0"> All Appointment </h5>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">All Appointmnent</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>

<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({

            url: '/api/Appointment/AllAppointments',
            method: 'Get',
            dataType: 'json',

            success: function (data) {

                $('#tblAppointments').dataTable({

                    data: data,
                    'scrollY': 350,
                    'autoWidth': true,

                    columns: [

                        { 'data': 'AppId' },
                        { 'data': 'Name' },
                        { 'data': 'Gender' },
                        { 'data': 'Age' },
                        { 'data': 'ShortDesc' },
                        { 'data': 'CreatedBy', 'width': '100px' },
                        { 'data': 'CreatedDate' },
                        { 'data': 'ModifiedBy', 'width': '100px' },
                        { 'data': 'ModifiedDate' },
                        {
                            'data': 'AppId',
                            'render': function (data) {
                                return "<a class='btn btn-primary btn-sm mx-auto' onclick=Edit(" + data + ")>  View Details </a> <a class='btn btn-danger btn-sm' onclick=Delete(" + data + ")>  Reject Appointment </a>"
                            },
                            'orderable': false,
                            'width': '150px'
                        },
                    ],
                    language: {
                        "emptyTable": " <b> No Data Avaliable </b> ",
                        "class":"text-center mx-auto w-auto"
                    }
                });
            }
        });
    });

    function Edit(id) {
        var url = '/TeleService/Default/ViewAppointment?id=' + id;
        window.location.href = url;
    }
</script>

@* Our Html *@
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h7>All Appointment</h7>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table  table-striped table-hover text-center" id="tblAppointments">
                    <thead class="mx-auto w-auto">
                        <tr>
                            <th scope="col">Appointment Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Age</th>
                            <th scope="col">Issue</th>
                            <th scope="col">Created-By</th>
                            <th scope="col">Created-Date</th>
                            <th scope="col">Updated-By</th>
                            <th scope="col">Last Updated</th>
                            <th scope="col">Controls</th>
                        </tr>
                    </thead>
                    <tfoot class="mx-auto w-auto">
                        <tr>
                            <th scope="col">Appointment Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Age</th>
                            <th scope="col">Issue</th>
                            <th scope="col">Created-By</th>
                            <th scope="col">Created-Date</th>
                            <th scope="col">Updated-By</th>
                            <th scope="col">Last Updated</th>
                            <th scope="col">Controls</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

