@{
    Layout = "~/Areas/Patient/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Address Info</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Address Info</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="container-fluid">
    <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Address Line 1</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Address Line 1" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Address Line 2</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Address Line 2" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">City</span>
                        </div>
                        <input type="text" class="form-control" placeholder="City" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">State</span>
                        </div>
                        <input type="text" class="form-control" placeholder="State" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Zip</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Zip/PinCode" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">Primary</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Yes/No" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>

@* Script to Add Data to Web Api's *@
<script type="text/javascript">


    $(document).ready(function () {
        //Close the bootstrap alert
        $('#linkClose').click(function () {
            $('#divError').hide('fade');
        });

        var t = new Date($.now());
        timestamp = moment(t).format('llll');

        // Save the new user details
        $('#btnUpdate').click(function () {
            $.ajax({
                url: '/api/User/EditProfile',
                method: 'Put',
                data: {
                    FName: $('#txtFName').val(),
                    LName: $('#txtLName').val(),
                    MName: $('#txtMName').val(),
                    Gender: $('#txtGender').val(),
                    DateOfBirth: $('#txtDOB').val(),
                    PhoneNumber: $('#txtPhone').val(),
                    AltNumber: $('#txtAltPhone').val(),
                    Status: 'Updated',
                    CreatedBy: localStorage.getItem('userName'),
                    CreatedDate: timestamp,
                    ModifiedBy: localStorage.getItem('userName'),
                    ModifiedDate: timestamp,
                    UserName: localStorage.getItem('userName')
                },
                success: function () {
                    var url = '/Patient/Default/Index';
                    window.location.href = url;
                },
                error: function (jqXHR) {
                    $('#divErrorText').text(jqXHR.responseText);
                    $('#divError').show('fade');
                }
            });
        });
    });
</script>