@{
    Layout = "~/Areas/Patient/Views/Shared/_Layout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">User Profile</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">User Profile</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="container-fluid">
    <form>
        <div class="card">
            <div class="card-header">
                <h4 class="text-center"> Share Your Feedback/Suggestions With Us Here</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Feedback Type</span>
                            </div>
                            <select class="form-control" id="txtRegAs">
                                <option>Select</option>
                                <option>Comments</option>
                                <option>Suggestions</option>
                                <option>Questions</option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Feedback Related</span>
                            </div>
                            <select class="form-control" id="txtRegAs">
                                <option>Select</option>
                                <option>Website</option>
                                <option>Appointments</option>
                                <option>Other Services</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Subject</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Subject Line" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <label class="control-label col-md-4" for="email">Your Message : </label>
                            <div class="col-md-11">
                                <textarea class="col-md-10" draggable="true">
        
                                   </textarea>
                            </div>
                    </div>
                    <div class="input-group mb-3">
                        <label class="control-label col-md-4" for="email">Additional Remarks (If Any):</label>
                            <div class="col-md-11">
                                <textarea class="col-md-10"  draggable="true">
        
                                   </textarea>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <button type="button" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
