@{
    Layout = "~/Areas/Patient/Views/Shared/_Layout.cshtml";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Follow Up</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Folow Up</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>Appointment Details</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Appointment No</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Appointment No" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Name" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Gender</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Gender" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Age</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Age" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                        
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Department</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Department" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Speciality</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Speciality" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Created By</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Created By" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div><div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Created Date</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Created Date" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Modified By</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Modified By" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Modified Date</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Modified Date" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group mb-auto">
                            <label class="control-label col-md-4" for="email">Short Description</label>
                            <div class="col-md-12">
                                <textarea class="col-md-12" draggable="true">
        
                                   </textarea>
                            </div>
                        </div>
                        <div class="input-group mb-auto">
                            <label class="control-label col-md-4" for="email">Description</label>
                            <div class="col-md-12">
                                <textarea class="col-md-12" draggable="true">
        
                                   </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5>Physician Details</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Name" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                            <label class="control-label col-md-4" for="email">Profile Description</label>
                            <div class="col-md-11">
                                <textarea class="col-md-10" draggable="true">
        
                                   </textarea>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5>Add Reply</h5>
            </div>
            <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Appointment ID</span>
                                </div>
                                <input type="text" class="form-control" placeholder="Appointment ID" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-group mb-3">
                            <label class="control-label col-md-4" for="email">Description</label>
                            <div class="col-md-11">
                                <textarea class="col-md-10" draggable="true">
        
                                   </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <button type="button" class="btn btn-primary">Reply</button>
                        </div>
                    </div>
                </div>
        </div>

</div>