@{
    ViewData["Title"] = "Career";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Career with us -->
<section id="news" data-stellar-background-ratio="2.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <!-- SECTION TITLE -->
                <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                    <h2>Career with us</h2>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- NEWS THUMB -->
                <div class="news-thumb wow fadeInUp" data-wow-delay="0.4s">

                    <img src="~/Content/SiteCss/images/news-image2.jpg" class="img-responsive" alt="">

                    <div class="news-info">
                        <h3 class="label-primary">Become a field medical officer</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- NEWS THUMB -->
                <div class="news-thumb wow fadeInUp" data-wow-delay="0.6s">

                    <img src="~/Content/SiteCss/images/news-image3.jpg" class="img-responsive" alt="">

                    <div class="news-info">
                        <h3 class="label-primary">Be our dedicated partner in your area</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

