@{
    ViewData["Title"] = "Career";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Career with us -->
<section id="news" data-stellar-background-ratio="2.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- SECTION TITLE -->
                <div class="section-title wow fadeInUp" data-wow-delay="0.1s">
                    <h2> Join Us, Now!</h2>
                </div>
            </div>
            <div class="mx-auto">
            <div class="col-md-4 col-md-offset-2">
                <!-- NEWS THUMB -->
                <a href=@Url.Action("Register", "Home")>
                    <div class="wow fadeInUp" data-wow-delay="0.4s">

                        <img src="~/Content/SiteCss/images/news-image2.jpg" width="350" height="350" class="img-bordered img-circle" alt="">
                        <br />
                        <br />
                        <h3 class="label-primary"> <b> Become a field medical officer </b></h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <!-- NEWS THUMB -->
                <a href=@Url.Action("Register", "Home")>
                    <div class="wow fadeInUp" data-wow-delay="0.6s">
                        <img src="~/Content/SiteCss/images/news-image3.jpg" width="350" height="350" class="img-bordered img-circle" alt="">
                        <br />
                        <br />
                        <h3 class="label-primary"> <b> Be Partner in your area </b> </h3>
                    </div>
                </a>
            </div>
            </div>
        </div>
    </div>
</section>

