@{
    ViewBag.Title = "Diagnosis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-10 col-md-offset-1">
    <section class="popularcourses-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 pr-md-0">
                    <div class="poppercrs-box">
                        <div class="pc-content">
                            <h2>Popular Tests</h2>
                            <p>
                                Check Them all Here
                            </p>
                        </div>
                        <div class="pc-img text-center">
                            <img src="images/pop1-crs.svg" class="img-fluid" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="carousel-wrap mt-md-0 mt-3">
                        <div class="owl-carousel">
                            <div class="item col-4 p-0">
                                <div class="popularcourses-item">
                                    <img src="images/sldr/hotalc1.jpg" />
                                    <div class="pc-itme-content">
                                        <h5>Alcohol Training</h5>
                                        <p>
                                            Our online alcohol training program provides basic
                                            instruction on laws effecting the sale and service of
                                            alcohol in your establishment.
                                        </p>
                                        <div class="text-right">
                                            <a href="alcohol.html">More info <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item col-4 p-0">
                                <div class="popularcourses-item">
                                    <img src="images/sldr/handler-1.png" />
                                    <div class="pc-itme-content">
                                        <h5>Food Handler Training</h5>
                                        <p>
                                            Our nationally accredited food handler course provides
                                            your employees with the state-required training to
                                            safely serve food in your establishment.
                                        </p>
                                        <div class="text-right">
                                            <a href="food_handler.html">More info <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item col-4 p-0">
                                <div class="popularcourses-item">
                                    <img src="images/sldr/ca2-2.png" />
                                    <div class="pc-itme-content">
                                        <h5>Sexual Harassment</h5>
                                        <p>
                                            Our sexual harassment courses provide your employees
                                            the training required by your state.
                                        </p>
                                        <div class="text-right">
                                            <a href="sexual_harassment.html">More info <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item col-4 p-0">
                                <div class="popularcourses-item">
                                    <img src="images/sldr/human-trafficking.jpg" />
                                    <div class="pc-itme-content">
                                        <h5>Human Trafficking</h5>
                                        <p>
                                            Our state-approved human trafficking course will train
                                            your employees on how to detect and act on suspected
                                            human trafficking activity.
                                        </p>
                                        <div class="text-right">
                                            <a href="human_trafficking.html">More info <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials-section mobi-none">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="testi-left text-center">
                        <h2>What Our Clients Say</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonials-content position-relative">
                        <!-- <div class="slideropt-top"></div>
                                      <div class="slideropt-bottom"></div> -->
                        <div class="hero__title" id="animatedHeading">
                            <div class="slick-dupe test">
                                <p>
                                    "Train 321 let's our management focus on bringing money
                                    in. Our management no longer has to spend 10-20 hours per
                                    location. I highly recommended it."
                                </p>
                                <p class="admin-name">Marci L</p>
                            </div>
                            <div class="slick-dupe test">
                                <p>
                                    "We are saving over $1,600 per location using Train 321.
                                    That's almost $5,000 for our three locations. Their
                                    customer service is the best company in this
                                    industry...hands down."
                                </p>
                                <p class="admin-name">Jimena A</p>
                            </div>
                            <div class="slick-dupe test">
                                <p>
                                    "Train 321 had our account set up in less than an hour. I
                                    love the fact I get a real human being when I call or use
                                    live chat. This is a great platform with even better
                                    customer support."
                                </p>
                                <p class="admin-name">Adam S</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

