@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="owl-carousel owl-theme">

    <div class="item item-first">
        <div class="caption">
            <div class="col-md-offset-1 col-md-10">
                <h1>What we do?</h1>
                <h3>
                    affordable Health care solutions – at your home Dr. Flight Mode offers the only comprehensive virtual care solution capable of resuscitating you whenever you are ill. Our medical field officers will help patient overcome
                    major health barriers with dignity at their home itself.
                </h3>
                <div style="padding-top: 50px;"></div>
                <a href="#about" class="section-btn btn btn-default btn-gray smoothScroll">More About Us</a>
            </div>
        </div>
    </div>

    <div class="item item-second">
        <div class="caption">
            <div class="col-md-offset-1 col-md-10">
                <h1>Who we are?</h1>
                <h3>
                    Dr. Flight Mode is a pan-India tele health service movement that provides smart and comprehensive primary health care delivered at your home. Dedicated in ensuring the full continuum of a reliable health care services in
                    the rural India through health promotion and disease prevention, screening, diagnosis and treatment of common medical and surgical conditions.
                </h3>
                <div style="padding-top: 50px;"></div>
                <a href="#team" class="section-btn btn btn-default smoothScroll">Meet Our Team</a>
            </div>
        </div>
    </div>

</div>
