@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <form id="RegisterForm" action="#" method="post">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <!--This table contains the fields that we want to capture to register a new user-->
                <br />
                <div class="col-md-12 col-sm-12">
                    <!-- SECTION TITLE -->
                    <div class="section-title wow fadeInUp text-center" data-wow-delay="0.1s">
                        <h2>Register with us</h2>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 text-center">
                    <p> Already Registered then: <a href=@Url.Action("Login", "Home")> <b> Login </b> </a> </p>
                </div>
                <div class="form-horizontal">
                    <div class="col-md-4 col-md-offset-4 mx-auto">
                        <div class="form-group">
                            <label for="usr">Register As:</label>
                            <select class="form-control" id="txtRegAs" required>
                                <option>Select</option>
                                <option>Patient</option>
                                <option>Physician</option>
                                <option>Specialist</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">Email: </label>
                            <div>
                                <input class="form-control" id="txtEmail" placeholder="Email" name="email" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password: </label>
                            <div>
                                <input type="password" class="form-control" id="txtPassword" placeholder="Password" name="password" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Confirm Password: </label>
                            <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Confirm Password" name="cpassword" required />
                        </div>

                    </div>
                </div>
                <div class="col-md-12 text-center">
                        <div class="form-group">
                            <div>
                                <input id="btnRegister" class="btn btn-success text-center" type="submit" value="Register" />
                            </div>
                        </div>
                </div>
                    <!--Bootstrap modal dialog that shows up when regsitration is successful-->
                    <div class="modal fade" tabindex="-1" id="successModal"
                         data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">
                                        &times;
                                    </button>
                                    <h4 class="modal-title">Success</h4>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <h2 class="modal-title">Registration Successful!</h2>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success"
                                            data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Bootstrap alert to display any validation errors-->
                    <div id="divError" class="alert alert-danger collapse">


                        <a id="linkClose" href="#" class="close">&times;</a>
                        <div id="divErrorText"></div>
                    </div>
                </div>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>

<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>



@* Script to Add Data to Web Api's *@
<script type="text/javascript">
    $(document).ready(function () {

        var form = document.getElementById("LoginForm");

        //Close the bootstrap alert
        $('#linkClose').click(function () {
            $('#divError').hide('fade');
        });

        // Save the new user details
        $('#btnRegister').click(function (form) {

            $("#RegisterForm").validate({
                rules: {
                    txtEmail: {
                        required: true,
                        email: true
                    },
                    txtPassword: {
                        required: true
                    },
                    txtConfirmPassowrd: {
                        required: true
                    }
                },
                submitHandler: function (form) {

                    var t = new Date($.now());
                    timestamp = moment(t).format('llll');

                    $.ajax({
                        url: '/api/account/register/' + $('#txtRegAs').val(),
                        method: 'POST',
                        data: {
                            Email: $('#txtEmail').val(),
                            Password: $('#txtPassword').val(),
                            ConfirmPassword: $('#txtConfirmPassword').val(),
                            LastLogin: timestamp,
                        },
                        success: function () {
                            var url = '/Home/Login';
                            window.location.href = url;
                        },
                        error: function (jqXHR) {
                            $('#divErrorText').text(jqXHR.responseText);
                            $('#divError').show('fade');
                        }
                    });
                }
            });
        
        });
    });
</script>