@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <br />
        <div class="col-md-12 col-sm-12">
            <!-- SECTION TITLE -->
            <div class="section-title wow fadeInUp text-center" data-wow-delay="0.1s">
                <h2>Update Your Profile</h2>
            </div>
        </div>
        <div class="form-horizontal">
            <div class="col-md-10 col-md-offset-1 text-center">
                <div class="col-md-5 col-md-offset-1">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="usr">First Name: </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="txtFName" placeholder="First Name" name="email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="usr">Last Name: </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="txtLName" placeholder="Last Name" name="password" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="usr">Middle Name: </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="txtMName" placeholder="Middle Name" name="cpassword" />

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="usr">Gender :</label>
                        <div class="col-md-8">
                            <select class="form-control" id="txtGender">
                                <option>Select</option>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Prefer Not to Say</option>
                                <option>Other</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="col-md-5 col-lg-offset-0">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="usr">Phone Number: </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="txtPhNumber" placeholder="Middle Name" name="cpassword" />

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="usr">Alternate Number: </label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="txtAltNumber" placeholder="Middle Name" name="cpassword" />

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="date">Date of Birth</label>
                        <div class="col-md-8">
                            <input type="date" name="date" value="" id="txtdob" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-md-12 text-center">
                <div class="form-group">
                    <div>
                        <input id="btnUpdate" class="btn btn-success text-center" type="button" value="Update" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

@* Script to Add Data to Web Api's *@
<script type="text/javascript">
    $(document).ready(function () {

        //Close the bootstrap alert
        $('#linkClose').click(function () {
            $('#divError').hide('fade');
        });

        // Save the new user details
        $('#btnUpdate').click(function () {
            $.ajax({
                url: '/api/User/UpdateProfile',
                method: 'POST',
                data: {
                    FName: $('#txtFName').val(),
                    LName: $('#txtLName').val(),
                    MName: $('#txtMname').val(),
                    Gender: $('#txtGender').val(),
                    PhoneNumber: $('#txtPhNumber').val(),
                    AltNumber: $('#txtAltNumber').val(),
                    DateOfBirth: $('#txtdob').val(),
                    Status:'Updated'
                },
                success: function () {
                    $('#successModal').modal('show');
                },
                error: function (jqXHR) {
                    $('#divErrorText').text(jqXHR.responseText);
                    $('#divError').show('fade');
                }
            });
        });
    });
</script>