@{
    ViewData["Title"] = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div>
            <div class="col-md-4 col-md-offset-4">
                <h2 class="wow fadeInUp" data-wow-delay="0.1s">Web Development Team</h2>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 col-md-offset-4">
            <div class="card mx-auto text-center">
                <div class="card-header">
                </div>
                <div class="card-body text-center text-align-center">
                    <hr class="m-4" />
                    <p class="text-align-center"> <b> Web Designer and Developer  <br /> <br /> <a href="https://ashiqnazirbhat.github.io/"> Ashiq Nazir Bhat </a> </b> </p>
                </div>
            </div>
        </div>
    </div>
</div>
