@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h5 class="m-0"> Specialities </h5>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">All Specialities</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>

<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/moment-with-locales.min.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        //JQuery Code to Get All Specialities
        $.ajax({
            url: '/api/Specialities',
            method: 'Get',
            dataType: 'json',
            Accept: 'application/json',
            success: function (data) {
                $('#tblSpecialities').removeAttr('width').dataTable({
                        data: data,
                        'scrollY': 350,
                        'scrollX':900,
                        'word- wrap': 'break-word',
                        columnDefs: [
                            { width: 100, targets: 2 }
                        ],
                        'fixedColumns': 'true',
                        columns: [

                            { 'data': 'SPId' },
                            { 'data': 'Name' },
                            { 'data': 'Description'},
                            { 'data': 'CreatedBy'},
                            { 'data': 'CreatedDate'},
                            { 'data': 'ModifiedBy'},
                            { 'data': 'ModifiedDate' },
                            {
                                'data': 'SPId',
                                'render': function (data) {
                                    return "<a class='btn btn-primary btn-sm mx-auto' onclick=Edit(" + data + ")>  Edit </a> <a class='btn btn-danger btn-sm' onclick=Delete(" + data + ")>  Delete </a>"
                                },
                                'orderable': false,
                                'width': '150px'
                            },
                        ],
                        language: {
                            "emptyTable": "No Data Avaliable"
                        }
                    });
            }
        });
    });
    function Edit(id) {
        var url = '/Admin/Default/ViewSpeciality?id=' + id;
        window.location.href = url;
    }
    function Delete(id) {


    }
</script>

@* Our Html *@
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h7>All Appointment</h7>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table  table-striped table-hover text-wrap"  id="tblSpecialities">
                    <thead class="mx-auto">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Created-By</th>
                            <th scope="col">Created-Date</th>
                            <th scope="col">Updated-By</th>
                            <th scope="col">Last Updated</th>
                            <th scope="col">Controls</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Created-By</th>
                            <th scope="col">Created-Date</th>
                            <th scope="col">Updated-By</th>
                            <th scope="col">Last Updated</th>
                            <th scope="col">Controls</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>